<header>
  <div class="top-bar">
    <div class="logo-search">
      <div class="bar">
        <i class="fas fa-bars" aria-hidden="true"></i>
      </div>
      <div class="logo">
        <img
          src="https://beat22.com/assets/imgs/beat22-logo/main-logo-beat22.svg"
          alt="Beat22 Logo"
        />
      </div>
      <div class="search-area">
        <input type="text" placeholder="Search top beats" />
        <select>
          <option>General</option>
          <option>Beat</option>
          <option>Tag</option>
          <option>Mood</option>
          <option>Genre</option>
          <option>Handle</option>
          <option>Studio</option>
        </select>
      </div>
    </div>

    <div class="auth-buttons">
      <button class="sign-in">Sign In</button>
      <button class="primary">Start Selling</button>
    </div>
  </div>
</header>
