.record-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
  padding: 1rem;

  .grid-item {
    border-radius: 6px;
    display: flex;
    flex-direction: column;

    .image-container {
      position: relative;
      width: 100%;
      height: 250px;
      overflow: hidden;
      box-shadow: 10px 10px 50px rgba(255, 255, 255, 0.3);
      transition: box-shadow 0.3s ease;
      border-radius: 6px;

      .record-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &:hover {
        .play-button {
          background: linear-gradient(110deg, #7000ff 36.5%, #8f00ff 93.9%);
        }
      }

      .play-button {
        position: absolute;
        bottom: 10px;
        left: 10px;
        background-color: #fff;
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
        cursor: pointer;
        z-index: 2;

        i {
          font-size: 1rem;
        }
      }
    }

    .details {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      background-color: transparent;

      .bpm-and-price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.875rem;
        color: #aaa;

        .bpm {
          display: flex;
          align-items: center;
          gap: 0.3rem;
          color: #fff;
          font-size: 0.7rem;

          .beat-img {
            width: 12px;
            height: 12px;
            object-fit: contain;
            margin-right: 0.2rem;
          }
        }

        .price {
          display: flex;
          align-items: center;
          gap: 0.3rem;
          border: 1px solid #8a2be2;
          padding: 0.3rem 0.6rem;
          border-radius: 4px;
          color: #8a2be2;

          i {
            font-size: 0.8rem;
            background-color: transparent;
            color: #fff;
          }
        }
      }

      .details-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .names {
          .title {
            color: #fff;
            font-family: inter-medium, sans-serif !important;
            font-weight: 500;
            font-style: normal;
            font-size: 1rem;
            display: flex;
            column-gap: 8px;
            align-items: center;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }

          .artist {
            font-size: 0.875rem;
            color: #aaa;
            padding-top: 0.2rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }
        .icon {
          .more-options-container {
            position: relative;

            .more-options {
              background: none;
              border: none;
              color: #aaa;
              cursor: pointer;
              font-size: 1rem;
              position: relative;
            }

            .options-dropdown {
              position: absolute;
              top: 100%;
              right: 0;
              background-color: #2a2a2a;
              border-radius: 6px;
              box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
              padding: 0.5rem 0;
              z-index: 10;
              display: flex;
              flex-direction: column;
              gap: 0.5rem;
              width: 150px;

              .option-item {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                padding: 0.5rem 1rem;
                color: #fff;
                font-size: 0.875rem;
                cursor: pointer;
                transition: background-color 0.3s ease;

                i {
                  font-size: 1rem;
                }

                &:hover {
                  background-color: #444;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1220px) {
  .record-grid {
    grid-template-columns: repeat(5, 1fr);
    .grid-item {
      height: 20rem;
    }
  }
}

@media (max-width: 1140px) {
  .record-grid {
    .grid-item {
      height: 18rem;
    }
  }
}

@media (max-width: 1020px) {
  .record-grid {
    grid-template-columns: repeat(4, 1fr); /* 4 items per row */
    .grid-item {
      height: 18rem;
    }
  }
}

@media (max-width: 950px) {
  .record-grid {
    grid-template-columns: repeat(3, 1fr);
    .grid-item {
      height: 20rem;
    }
  }
}

@media (max-width: 800px) {
  .record-grid {
    .grid-item {
      height: 18rem;
    }
  }
}

@media (max-width: 720px) {
  .record-grid {
    grid-template-columns: repeat(2, 1fr);
    .grid-item {
      height: 20rem;
    }
  }
}

@media (max-width: 600px) {
  .record-grid {
    .grid-item {
      height: 18rem;
    }
  }
}

@media (max-width: 520px) {
  .record-grid {
    .grid-item {
      height: 17rem;
    }
  }
}

@media (max-width: 480px) {
  .record-grid {
    .grid-item {
      height: 15rem;
    }
  }
}
